<div class="container">
    <div class="jumbotron">
    <div class="row">
        <div class="btn-group mr-3">
            <button class="btn btn-light" type="reset">Edit</button>
        </div>
        <div class="btn-group mr-3">
            <button class="btn btn-light" type="reset">Comment</button>
        </div>
        <div class="btn-group mr-3">
            <button class="btn btn-light" type="reset">Approval</button>
        </div>
    </div>
    <br>
    <div>
        <a href="#">Resource Request 104</a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 mb-1">Project:</div>
        <div class="col-md-2 mb-1">Project 12</div>
    </div>
    <div class="row">
            <div class="col-md-2 mb-1">Position:</div>
            <div class="col-md-2 mb-1">Position 12</div>
    </div>
    <div class="row">
            <div class="col-md-2 mb-1">No:</div>
            <div class="col-md-2 mb-1">Project 12</div>
        </div>
    <div class="row">
        <div class="col-md-2 mb-1">Duration:</div>
        <div class="col-md-2 mb-1">Project 12</div>
    </div>
    <div class="row">
            <div class="col-md-2 mb-1">Request Type:</div>
            <div class="col-md-2 mb-1">Project 12</div>
    </div>
    <div class="row">
            <div class="col-md-2 mb-1">Priority:</div>
            <div class="col-md-2 mb-1">Project 12</div>
    </div>
    <div class="row">
            <div class="col-md-2 mb-1">Job Description:</div>
            <div class="col-md-2 mb-1">Project 12</div>
    </div>
    <div class="row">
            <div class="col-md-2 mb-1">Comments:</div>
            <div class="col-md-2 mb-1">Project 12</div>
    </div>
    <br>
    <div class="row">
            <div class="col-md-2 mb-1">Requested By:</div>
            <div class="col-md-2 mb-1">Project 12</div>
    </div>
    <div class="row">
            <div class="col-md-2 mb-1">Date Requested:</div>
            <div class="col-md-2 mb-1">Project 12</div>
     </div>
     <button type="button" class="btn btn-link">Done</button>
    </div>
</div>