<!-- <app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>
 
<app-product-list></app-product-list> -->

<!-- <contact-form></contact-form> -->

<!-- <hotel-list></hotel-list> -->
<!-- <app-course></app-course> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-top-bar></app-top-bar> -->

<!-- 
<input type="text" appInputFormat> -->

<app-userposts></app-userposts>

<!-- <router-outlet></router-outlet> -->
<!-- <app-signup-form></app-signup-form> -->

